<div class="contenido">

    <mat-toolbar>
        <span>REGISTRO DE DATOS DE BIBLIOTECA</span>
      </mat-toolbar>

      <form>
        <mat-form-field appearance="fill">
            <mat-label>Identificador</mat-label>
            Identificador de Libro:
            <input matInput>
         </mat-form-field>
          <br>

          <mat-form-field appearance="fill">
            <mat-label>Titulo</mat-label>
            Titulo del Libro:
            <input matInput>
         </mat-form-field>
         <br>

         <mat-form-field appearance="fill">
            <mat-label>Autor</mat-label>
            Autor de Libro:
            <input matInput>
         </mat-form-field>


         <div class="contenido2">

            <mat-form-field appearance="fill">
                <mat-label>Fecha</mat-label>
                Fecha de Edicion:
                <input matInput>
             </mat-form-field>
             <br>

              <mat-form-field appearance="fill">
                <mat-label>Precio:</mat-label>
                Precio:
                <input matInput>
             </mat-form-field>
             <br>
    
             <mat-form-field appearance="fill">
                 Cantidad de Paginas:
                <mat-label>Cantidad</mat-label>
                <input matInput type="number">
              </mat-form-field>
         </div>
      </form>
</div>



<!-- [formControl]="selected" -->
